body, html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #E9EBEE;
}

#bluebar {
    /* padding-right: 205px; */
    display: flex;
    /* justify-content: space-between; */
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    position: fixed;
    z-index: 9999;
}

.facebook-logo {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/FaWqL7bdCaF.png);
    background-repeat: no-repeat;
    background-size: 30px 1348px;
    background-position: 0 -460px;
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    float: left;
}

.line {
    content: '';
    height: 16px;
    top: 5px;
    width: 1px;
    background: #3B5CA0;
    float: left;
    position: relative;
}

#settings .line {
    margin-right: 16px;
    top: 2.5px;
}

#logo-holder {
    padding: 9px;
    margin-left: 115px;
    float: left;
}

#searchbar {
    float:left;
    padding-top: 9px;
    width: 45%;
}

#text-search {
    width: 60%;
    height: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px;
    padding-left: 4px;
    float: left;
}

#search-button {
    background: #f6f7f9;
    border: none;
    border-radius: 0 2px 2px 0;
    padding: 0 16px;
    height: 24px;
    text-align: center;
    float: left;
}

.search-logo {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/UzaqWyuHQ-U.png);
    background-repeat: no-repeat;
    background-size: 30px 1362px;
    background-position: 0 -1330px;
    display: block;
    height: 14px;
    width: 14px;
    margin: -1px;
    padding: 1px;
    right: 0px;
    float: left;
}

#user-space {
    width: 20%;
    height: 100%;
    float: left;
    padding-top: 8px;
}

.user-menu {
    width: 600px;
    float: left;
}

#user-name-and-photo {
    width: 60%;
    height: 100%;
    float: left;
}

.user-photo {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    /* box-sizing: border-box; */
    content: '';
    height: 24px;
    left: 2px;
    top: 2px;
    width: 24px;
    float: left;
}

#irakla, #home-button {
    background-color: transparent;
    color: white;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    height: 27px;
    line-height: 28px;
    padding: 0 6px 1px;
    position: relative;
    text-decoration: none;
    /* vertical-align: top; */
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin: none;
}

#notifications {
    width: 150px;
    height: 100%;
    float: left;
}

.notifications {
    background-image: url(https://goo.gl/8njfjX);
    background-repeat: no-repeat;
    background-size: 30px 1362px;
    opacity: .6;
    height: 24px;
    width: 24px;
    float: left;
    margin-right: 9px;
}

#friend-requests-notification {
    background-position: 0 -486px;
}

#messages-notification {
    background-position: 0 -746px;
}

#general-notification {
    background-position: 0 -642px;
}

#notifications {
    padding-left: 9px;
    padding-top: 9px;
    width: 100px;
}

#help {
    background-position: 0 -1110px;
}

#settings-drop {
    background-position: 0 -1258px;
}

.settings {
    background-image: url(https://goo.gl/8njfjX);
    background-repeat: no-repeat;
    background-size: 30px 1362px;
    height: 20px;
    /* margin-top: -2px; */
    opacity: .6;
    width: 20px;
    float: left;
    margin-right: 9px;
}

#settings {
    float: left;
    width: 75px;
    height: 42px;
    padding: 10.5px;
}

#global-container {
    width: 100%;
    height: 100%;
    padding-top: 42px;
}

.left-column-list a {
    color: inherit;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left-column {
    width: 14%;
    height: 100%;
    margin-left: 125px;
    padding-top: 12px;
    float: left;
    position: fixed;
}

#left-column li ul {
    width: 60px;
}

#user-credentials {
    padding-bottom: 12px;
}

#user-credentials .user-photo{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.li-text {
	padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 2.5px;
    float: left;
    font-size: 13px;
}

.li-item {
    clear: both;
    width: 185px;
    height: 21px;
    padding: 4px 9px 4px 4px;
    word-wrap: break-word;
}

.li-item-active {
    clear: both;
    width: 185px;
    height: 21px;
    font-weight: bold;
    background: #F6F7F9;
    padding: 4px 9px 4px 4px;
    border-radius: 1.5px;
    word-wrap: break-word;
}

.li-images {
    background-image: url(https://goo.gl/Dq9n4f);
    background-size: 36px 1996px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

#news-feed-image {
    background-position: 0 -1364px;
    clear: none;
    float: left;
}

#messenger-image {
    background-position: 0 -1034px;
    clear: none;
    float: left;
}

.home-side-nav h4 {
    font-size: 13px;
    color: #616770;
    line-height: 17px;
    margin: -2px 0 -1px;
    font-weight: 600;
    -webkit-margin-before: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 4px 9px 4px 4px;
}

#macs-group-image {
    background-position: 0 -1276px;
    clear: none;
    float: left;
}

.li-images-non-sprite {
    height: 20px;
    width: 20px;
}

#basketball-image, #chess-image {
    clear: none;
    float: left;
    border-radius: 50%;
}

#events-image {
    background-image: url(https://goo.gl/WJBxbL);
    background-size: 22px 172px;
    background-repeat: no-repeat;
    background-position: 0 -22px;
    height: 20px;
    width: 20px;
    clear: none;
    float: left;
}

#groups-image {
    clear: none;
    float: left;
    background-position: 0 -1276px;
}

#pages-image {
    clear: none;
    float: left;
    background-position: 0 -1474px;
}

#friend-lists-image {
    clear: none;
    float: left;
    background-position: 0 -1386px;
}

#discover-people-image {
    clear: none;
    float: left;
    background-position: 0 -1540px;
}

#saved-image {
    clear: none;
    float: left;
    background-position: 0 -1606px;
}

#this-day-image {
    clear: none;
    float: left;
    background-position: 0 -1452px;
}

#pages-feed-image {
    clear: none;
    float: left;
    background-position: 0 -1496px;
}

#photos-image {
    clear: none;
    float: left;
    background-position: 0 -1562px;
}

#games-image {
    clear: none;
    float: left;
    background-position: 0 -1232px;
}

#see-more-image {
    clear: none;
    float: left;
    background-position: 0 -1942px;
    height: 16px;
    width: 16px;
    vertical-align: bottom;
}

.li-text a {
    text-decoration: none;
}

.li-item a:link {
    color: blue;
}

.li-item a:visited {
    color: blue;
}

.create-navigation a{
    font-size: 12px;
    text-decoration: none;
}

#center-feed {
    float: left;
    /* background: black; */
    margin-left: 335px;
    width: 35%;
    height: 100%;
}

#post-sth {
    width: 100%;
    height: 150px;
    margin-top: 12px;
    margin-bottom: 10px;
    background: white;
    clear: both;
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

#post-header {
    width: 100%;
    height: 20%;
    background-color: #f6f7f9;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
    font-weight: bold;
}

.post-types-image {
    background-image: url(https://goo.gl/i3QgUS);
    background-size: 22px 560px;
    background-repeat: no-repeat;
    /* display: inline-block; */
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-top: 7px;
    float: left;
}

.post-types-text-active {
    font-size: 12px;
    font-weight: 600;
    color: #4b4f56;
    line-height: 14px;
    margin-top: 9px;
    margin-left: 5px;
    float: left;
}

.post-types-text {
    font-size: 12px;
    font-weight: 600;
    color: #365899;
    line-height: 14px;
    margin-top: 9px;
    margin-left: 5px;
    float: left;
}

#make-post {
    /* width: 18%; */
    height: 100%;
    float: left;
    display: flex;
    border-right: 
}

#photo-upload {
    /* width: 30%; */
    height: 100%;
    /* background: magenta; */
    float: left;
    display: flex;
}

#live-video {
    height: 100%;
    /* width: 35%; */
    float: left;
    display: flex;
    /* background: green; */
    /* overflow: hidden; */
}

#make-post-img {
    background-position: 0 -356px;
}

#photo-upload-img {
    background-position: 0 -374px;
}

#live-video-img {
    background-position: 0 -320px;
}

#post-header .line {
    top: 7px;
    margin-left: 5px;
    width: 0.7px;
    float: left;
    background: #dddfe2;
}

#post-content {
    width: 100%;
    height: 50%;
    clear: both;
}

#user-photo-space {
    float: left;
    min-height: 1px;
    margin: 12px 0 0 12px;
}

.post-author-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

#text-space {
    width: 460px;
    height: 100%;
    float: left;
}

#text-insert {
    padding-top: 23px;
    padding-right: 48px;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    height: 100%;
    line-height: 18px;
    outline: 0;
    padding: 23px 12px;
    resize: none;
    word-wrap: break-word;
    color: #90949c;
}

#post-enhancments {
    width: 95%;
    height: 25%;
    border-top: 1px solid #e9ebee;
    margin: 0 12px;
    padding: 5px 0;
}

.post-enh-img {
    background-image: url(https://goo.gl/Dq9n4f);
    background-size: 36px 1996px;
    background-repeat: no-repeat;
    margin-left: 3px;
    float: left;
}

.footer-button {
    background: #f6f7f9;
    display: flex;
    width: 23%;
    border-radius: 18px;
    padding: 5px;
    float: left;
    margin-right: 5px;
}

.post-enh-txt {
    font-weight: 600;
    font-size: 12px;
    color: #4b4f56;
    padding: 4px;
    float: left;
}

#photo-video {
    background-position: 0 -924px;
    height: 20px;
    width: 20px;
    float: left;
}

#feel-act {
    background-position: 0 -814px;
    height: 20px;
    width: 20px;
    float: left;
}

.footer-button#but1 {
    width: 22%;
}

.footer-button#but2 {
    width: 25%;
}

.post-enh-img#dots {
    background-position: 0 -858px;
    height: 20px;
    width: 20px;
    float: left;
    margin-left: 8px;
}

.footer-button#but3 {
    width: 7%;
}

.post-content {
    width: 100%;
    height: 160px;
    display: block;
    background-color: white;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    float: left;
    margin-bottom: 10px;
}

.about-author {
    padding: 12px 12px 0;
    width: 40px;
    background-color: white;
    float: left;
}

.post-header-text {
    float: left;
    color: #365899;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    /* width: 500px; */
    float: left;
}

#posted-to {
    background-image: url(https://goo.gl/qWJ1Vs);
    background-size: 64px 384px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: -18px -264px;
    float: left;
}

.post-location {
    padding-top: 15px;
    float: left;
}

.post-date {
    display: block;
    /* clear: both; */
    font-size: 12px;
    color: #616770;
    padding-top: 3px;
    float: left;
}

.post-privacy-icon {
    background-image: url(https://goo.gl/T7hWSs);
    background-size: 28px 136px;
    background-repeat: no-repeat;
    height: 12px;
    width: 12px;
    float: left;
}

.post-privacy-icon.friends {
    background-position: -14px 0;
    display: block;
    margin-top: 3px;
    margin-left: 3px;
    float: left;
}

.post-body {
    width: 100%;
    height: 70px;
    clear: both;
    display: block;
    /* background-color: black; */
}

.post-text {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    padding: 12px 12px 0;
    /* margin: 7px 0 7px 0; */
}

.post-footer {
    width: 100%;
    height: 50px;
}

.like-comment-share{
    width: 95%;
    height: 70%;
    border-top: 1px solid #e9ebee;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.like, .comment {
    height: 100%;
    margin-top: 8px;
}

.like {
    float: left;
    margin-left: 22.5%;
}

.comment {
    float: right;
    margin-right: 22.5%;
}

.like-button {
    background-image: url(https://goo.gl/scr4HZ);
    background-repeat: no-repeat;
    background-size: 64px 384px;
    background-position: 0 -130px;
    height: 18px;
    width: 18px;
    float: left;
}

.comment-button {
    background-image: url(https://goo.gl/scr4HZ);
    background-repeat: no-repeat;
    background-size: 64px 384px;
    background-position: -40px -90px;
    height: 18px;
    width: 18px;
    float: left;
}

.button-text {
    float: left;
    color: #616770;
    font-size: 13px;
    align-items: center;
    display: flex;
    padding: 0 2px;
    justify-content: center;
    font-weight: 600;
    margin-top: 2px;
}

.right-feed {
    height: 100%;
    width: 300px;
    /* background-color: black; */
    float: left;
    margin-left: 14px;
}

.stories {
    margin-top: 12px;
    padding-left: 12px;
    background-color: #fff;
    height: 270px;

    border-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.right-feed-text {
    color: #616770;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 10px;
    padding-top: 13px;
}

.story {
    height: 56px;
    width: 56px;
    border: 2px solid #bec2c9;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px 2px;
    position: relative;
    z-index: 0;
    border-color: #4080ff;
    margin-top: 5px;
    float: left;
}

.story-wrapper {
    width: 100%;
    height: 60px;
    float: left;
    margin-top: 5px;
}

.story-image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
    position: relative;
    vertical-align: middle;
    float: left;
}

.story-owner {
    float: left;
    width: 200px;
    color: #365899;
    font-weight: 600;
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    margin-top: 15px;
    margin-left: 7px;
}

.story-time {
    float: left;
    width: 200px;
    color: #90949c;
    font-weight: normal;
    margin-top: 3px;
    font-size: 13px;
    margin-left: 7px;
}

.see-more-stories {
    height: 30px;
}

.dropdown {
    background-image: url(https://goo.gl/4chSdS);
    background-repeat: no-repeat;
    background-size: 54px 300px;
    background-position: -38px -172px;
    float: left;
    height: 5px;
    margin: 5.5px 11px 5.5px 4px;
    width: 9px;
    float: left;
}

.see-more-stories {
    margin-top: 10px;
}

.see-more-stories a:visited{
    color: blue;
    text-decoration: none;
}